
body {
    background-image: linear-gradient(#b8bcbd, #bbf6fb, white);
}

h1, h2 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #333333;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: #54b2a9;
    font-family: cursive;
    text-align: left;

}

table, th, tr, td {
    margin: 20px;
    border: 3px solid gray;
    border-collapse: collapse;
    table-layout: fixed;
}


th {
    background-color: #83d0c9;
    font-size: 35px;
    font-family: 'Pacifico', cursive;
    color: #333333;
}

td, li {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.centerImg {
    text-align: center;
    padding:
}

.prettyPar{
    padding-bottom: 30px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
